<app-nav-bar1></app-nav-bar1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label" style="color:white">Book Titile</label>
                    <input name="title" [(ngModel)]="title" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label" style="color:white">Author</label>
                    <input name="author" [(ngModel)]="author" type="text" class="form-control">
                </div>

               
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label" style="color:white">Price</label>
                    <input name="price" [(ngModel)]="price" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label" style="color:white">Book Image</label>
                    <input name="image" [(ngModel)]="image" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button (click)="readValues()" class="btn btn-warning">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
